<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

<p id="notice"><%= notice %></p>

<%= link_to 'Upload Video', new_video_path(@video)%>
<br>

<h1>Videos</h1>

<table>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td>
          <video class="video-js" width="256" height="256" controls poster="<%= url_for(video.file.preview(resize: "256X256!").processed) %><" data-setup='{"fluid": false}'>
            <source src="<%= url_for(video.file) %>" type="video/mp4" />
          </video>
        </td>
        <td style="vertical-align:top"><h3><%= video.title %></h3><br><%= video.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>