<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

<p id="notice"><%= notice %></p>

<h1>Videos</h1>
<button><%= link_to 'Upload Video', new_video_path(@video) %></button>

<table>
  <tbody>
    <% @videos.last(2).each do |video| %>
      <tr>
        <td>
          <video class="video-js" width="256" height="256" controls poster="<%= url_for(video.file.preview(resize: "256X256!").processed) %><" data-setup='{"fluid": false}'>
            <source src="<%= url_for(video.file) %>" type="video/mp4" />
          </video>
        </td>
        <td style="vertical-align:top"><h3><%= video.title %></h3><br><%= Category.find(video.category_id).name %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>



